.AboutSection {
	/* background-image: linear-gradient(
		to bottom,
		#6c4a3e,
		#9b7669,
		#e9e9e9
	); */
	/* background-color: #6c4a3e; */
	background-color: #9b7669;
	/* background-color: #c8a89b; */
	padding: 2%;
}

.about__content {
	justify-content: space-around;
}

.paragraph {
	margin: 2% 0;
}

.card__text {
	font-size: 1.2em;
}

.about__header {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 2%;
}

.heading {
	font-family: "Nanum Myeongjo", serif;
}
