.AboutSection {
	background-color: #6c4a3e;
	padding: 2%;
}

.about__content {
	justify-content: space-around;
}

.card__text {
	font-size: 1.4em;
}

.about__header {
	text-align: center;
	padding-bottom: 2%;
}

.heading {
	font-family: "Nanum Myeongjo", serif;
}
